<a class="carousel-card" href="{{ card_url }}">
  <div class="carousel-overlay"></div>
  {{ card_img | image_url: width: card_img.width | image_tag: class: 'collection-img' }}
  <div class="collection-title">
    <h4>
      {{ card_title }}
    </h4>
  </div>
</a>
