<a
  href="{{ routes.root_url }}"
>
  {% if type == 'light' %}
    <img
      width="100"
      height="30"
      loading="lazy"
      src="{{ 'vasta-logo-light.png' | asset_img_url}}"
      alt="Vasta Logo Light"
    >
  {% else %}
    <img
      width="100"
      height="30"
      loading="lazy"
      src="{{ 'vasta-logo-dark.png' | asset_img_url}}"
      alt="Vasta Logo Dark"
    >
  {% endif %}
</a>
