<form class="search-form {{extra-classes}}" action="{{routes.search_url}}">
  <input class="search-form-input" type="text" name="q" placeholder="Search: Lorem Ipsum">
  <button class="search-form-button" type="submit">Search {{ 'search-icon.svg' | inline_asset_content }}</button>
</form>
