<div class="showcase__container container">
  <h2>{{ section.settings.title }}</h2>
  {% render 'products-showcase', blocks: section.blocks %}
</div>

{% schema %}
{
  "name": "Products Showcase",
  "class": "sec-showcase",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Best Selling Products"
    },
    {
      "type": "checkbox",
      "id": "animate_product_img",
      "label": "Product Image Hover Effect",
      "info": "When checked, the product image will scale up on mouse hover.",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "product_block",
      "name": "Product",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Product Name",
          "default": "Product Name"
        },
        {
          "type": "range",
          "id": "stars",
          "min": 0,
          "max": 5,
          "step": 1,
          "label": "Rating",
          "default": 5
        },
        {
          "type": "number",
          "id": "reviews_amount",
          "label": "Amount of Reviews",
          "default": 800
        },
        {
          "type": "url",
          "id": "link",
          "label": "Product Link"
        }
      ]
    }
  ]
}
{% endschema %}
