{{ 'collections.css' | asset_url | stylesheet_tag }}

<div class="collections__container container ">
  <h2>{{ section.settings.title }}</h2>
  <div class="collections__carousel">
    <div class="collections__carousel-cards">
      {% if section.settings.data_source == 'my_collections' %}
        {% for collection in collections %}
          {% render 'card',
            card_url: collection.url,
            card_img: collection.featured_image,
            card_title: collection.title,
            animate: section.settings.animate_card
          %}
        {% endfor %}
      {% else %}
        {% for block in section.blocks %}
          {% render 'card',
            card_url: block.settings.card_url,
            card_img: block.settings.card_img,
            card_title: block.settings.card_title,
            animate: section.settings.animate_card
          %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="collections__carousel-control collections__carousel-control-prev clickable">
    {{ 'arrow-left-icon.svg' | inline_asset_content }}
  </div>
  <div class="collections__carousel-control collections__carousel-control-next clickable">
    {{ 'arrow-right-icon.svg' | inline_asset_content }}
  </div>
</div>

<script>
  function setupCollectionsCarousel() {
    const cardList = document.querySelector('.collections__carousel');
    const prevButton = document.querySelector('.collections__carousel-control-prev');
    const nextButton = document.querySelector('.collections__carousel-control-next');
    const cardWidth = document.querySelector('.collection__card').offsetWidth;

    prevButton.addEventListener('click', () => {
      cardList.scrollLeft -= cardWidth;
    });

    nextButton.addEventListener('click', () => {
      cardList.scrollLeft += cardWidth;
    });

    // Do some scroll on tablet and above
    function scrollToLeftOnTabletView(matchMedia) {
      if (matchMedia.matches) {
        cardList.scrollLeft += cardWidth / 2;
      }
    }

    scrollToLeftOnTabletView(mediaQueries.tablet);
    mediaQueries.tablet.addEventListener('change', function (_) {
      scrollToLeftOnTabletView(mediaQueries.tablet);
    });
  }

  document.addEventListener('DOMContentLoaded', setupCollectionsCarousel);
</script>

{% schema %}
{
  "name": "Collections",
  "tag": "section",
  "class": "sec-collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop by Collection"
    },
    {
      "type": "radio",
      "id": "data_source",
      "label": "Data Source",
      "options": [
        { "value": "my_collections", "label": "My Collections" },
        { "value": "blocks", "label": "Blocks" }
      ],
      "default": "my_collections"
    },
    {
      "type": "checkbox",
      "id": "animate_card",
      "label": "Animate Card on Hover",
      "default": true,
      "info": "When check, the collection image will scale up on mouse hover."
    }
  ],
  "blocks": [
    {
      "type": "cards",
      "name": "Cards",
      "settings": [
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title",
          "default": "Lorem Ipsum"
        },
        {
          "type": "image_picker",
          "id": "card_img",
          "label": "Card Image"
        },
        {
          "type": "url",
          "id": "card_url",
          "label": "Card Link"
        }
      ]
    }
  ]
}
{% endschema %}
