{{ 'collections.css' | asset_url | stylesheet_tag }}

<h1>Shop by Collection</h1>
<div class="carousel-container">
  <div class="carousel-cards">
    {% if section.settings.data_source == 'my_collections' %}
      {% for collection in collections %}
        {% render 'card', card_url: collection.url, card_img: collection.featured_image, card_title: collection.title %}
      {% endfor %}
    {% else %}
      {% for block in section.blocks %}
        {% render 'card',
          card_url: block.settings.card_url,
          card_img: block.settings.card_img,
          card_title: block.settings.card_title
        %}
      {% endfor %}
    {% endif %}
  </div>
</div>
<div class="carousel-control control-previous-collection">
  {{ 'arrow-left-icon.svg' | inline_asset_content }}
</div>
<div class="carousel-control control-next-collection">
  {{ 'arrow-right-icon.svg' | inline_asset_content }}
</div>

<script>
  const cardList = document.querySelector('.carousel-container');
  const prevButton = document.querySelector('.control-previous-collection');
  const nextButton = document.querySelector('.control-next-collection');
  const cardWidth = document.querySelector('.carousel-card').offsetWidth;

  prevButton.addEventListener('click', () => {
    cardList.scrollLeft -= cardWidth;
  });

  nextButton.addEventListener('click', () => {
    cardList.scrollLeft += cardWidth;
  });
</script>

{% schema %}
{
  "name": "Collections",
  "tag": "section",
  "class": "collections",
  "settings": [
    {
      "type": "radio",
      "id": "data_source",
      "label": "Data Source",
      "options": [
        { "value": "my_collections", "label": "My Collections" },
        { "value": "blocks", "label": "Blocks" }
      ],
      "default": "my_collections"
    }
  ],
  "blocks": [
    {
      "type": "cards",
      "name": "Cards",
      "settings": [
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title",
          "default": "Lorem Ipsum"
        },
        {
          "type": "image_picker",
          "id": "card_img",
          "label": "Card Image"
        },
        {
          "type": "url",
          "id": "card_url",
          "label": "Card Link"
        }
      ]
    }
  ]
}
{% endschema %}
