.announcement-bar {
  background-color: var(--primary-color);
  color: var(--text-color-contrast);
  padding: 0.8rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.announcement-bar a {
  text-decoration: none;
  color: inherit;
}

.announcement-bar .phone-container,
.announcement-bar .mail-container {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.announcement-bar .mail-address,
.announcement-bar .phone-number {
  display: none;
}

@media screen and (min-width: 1024px) {
  .announcement-bar .mail-address,
  .announcement-bar .phone-number {
    display: block;
  }
}
