/* -- BANNER LAYOUT -- */

.sec-banner {
  background-color: var(--color-dark);
  color: var(--light-color);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.banner__row {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.banner__row--center-mobile {
  justify-content: center;
}

.banner__cta-row {
  margin-top: 7%;
}

@media screen and (min-width: 768px) {
  .banner__row {
    gap: 8px;
    justify-content: start;
  }
}
/* -- BANNER LAYOUT -- */

/* -- BANNER CONTENT -- */
.banner__content {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 0;
  text-align: center;
  display: grid;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

@media screen and (min-width: 425px) {
  .banner__content {
    top: 14%;
  }
}

@media screen and (min-width: 768px) {
  .banner__content {
    padding: 0;
    z-index: 1;
    top: 25%;
    left: 8%;
    width: 52%;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .banner__content {
    top: 25%;
  }
}

/* -- BANNER CONTENT -- */

.banner__image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
