.sec-footer {
  background-color: var(--color-dark);
  width: 100%;
  height: 100%;
  padding: 45px 0;
  box-sizing: border-box;
  letter-spacing: -0.03em;
  font-size: 12px;
  line-height: 13.2px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
}

.footer-text-title {
  font-size: 14px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .footer-text-title {
    font-size: 20px;
    font-weight: 500;
  }

  .sec-footer {
    font-size: 16px;
    line-height: 16px;
  }
}

.footer__section {
  gap: inherit;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

/* NEWSLETTER */

.footer__newsletter {
  display: grid;
  gap: 10px;
  max-width: 557px;
  margin: auto;
  width: 100%;
}

.footer__newsletter-form {
  width: 100%;
  border: 1.19px solid var(--light-color);
  border-radius: 57px;
  display: flex;
  justify-content: space-between;
}
.footer__newsletter-input {
  color: var(--light-color);
  background-color: transparent;
  border-radius: inherit;
  padding: 8px 14px;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
}

.footer__newsletter-input:focus {
  outline: none;
}

.footer__newsletter-form-btn-submit {
  background-color: var(--green-color);
  color: var(--light-color);
  border-radius: inherit;
  border: inherit;
  margin: -0.8px;
  width: 80%;
  display: flex;
  gap: 9.5px;
  align-items: center;
  justify-content: center;
}

.footer__newsletter-form-btn-submit:hover {
  background-color: var(--green-color-hard);
}

@media screen and (min-width: 768px) {
  .footer__newsletter-input,
  .footer__newsletter-form-btn-submit {
    font-size: 20px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__newsletter {
    justify-content: start;
    margin: 0;
  }
}
/* NEWSLETTER */
/**/

/* COLLECTIONS */
.collections__cards {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  overflow: hidden;
}

.collection__card--mini {
  height: 113px;
  min-width: 76px;
}

.collection__card--mini .collection__card-title h4 {
  font-size: 10px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .collection__card--mini {
    height: 188px;
    min-width: 126px;
    width: 126px;
  }

  .collection__card--mini .collection__card-title h4 {
    font-size: 13.79px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  .collections__cards {
    justify-content: start;
  }

  .collection__card--mini {
    height: 164px;
    min-width: 110px;
    width: 110px;
  }

  .collection__card--mini .collection__card-title h4 {
    font-size: 12px;
  }
}

/* COLLECTIONS */
.footer__navigation {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.footer__navigation-section {
  height: fit-content;
  display: grid;
  gap: 12px;
}

.footer__navigation-section-title svg {
  transform: rotate(-90deg);
  transition: all 0.15s ease-in-out;
}

.footer__navigation-section-title svg.rotate {
  transform: none;
}

.footer__navigation-links {
  display: grid;
  visibility: hidden;
  overflow: hidden;
  gap: 10px;
  color: var(--gray-soft);
  height: 0px;
  list-style: none;
  padding: 0;
  transition: all ease-out 0.15s;
}

.payment-methods {
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  color: #d9d9d9;
  margin-top: 15px;
}

.vertical-divider {
  height: 100%;
  border: 1px solid #414141;
}

.footer__contact-options {
  margin-top: 3%;
  gap: 0.5rem;
  display: grid;
}

@media screen and (min-width: 768px) {
  .sec-footer h4 {
    font-size: 20px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  .footer__container {
    flex-direction: row;
    text-align: start;
  }

  .footer__section {
    justify-content: start;
  }

  .collections-cards {
    justify-content: start;
  }

  .footer__contact-options {
    display: flex;
    flex-wrap: wrap;
  }
  .collections-cards .carousel-card {
    max-height: 164.32px;
    max-width: 110px;
  }
  .collections-cards .collection-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }

  .footer__navigation {
    margin-bottom: 25%;
  }

  .footer__navigation-links {
    visibility: visible;
    height: auto;
    margin-top: 1rem;
  }

  .footer__section {
    grid-template-columns: 1fr;
  }

  .footer__navigation-section-title svg {
    display: none;
  }

  .footer__navigation .vertical-divider {
    display: none;
  }

  .footer__rights-section {
    text-align: end;
  }

  .payment-methods {
    justify-content: end;
    gap: 5px;
  }

  .sec-footer h4 {
    text-align: start;
  }

  .collection__card-title h4 {
    text-align: center;
  }
}
