.showcase__container {
  padding: 40px 20px;
  display: grid;
  gap: 25px;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 1em;
}

@media screen and (min-width: 1024px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .showcase__container {
    padding: 60px 30px;
  }
  .products {
    gap: 35px;
  }
}

/* -- PRODUCT CARD -- */

.product__container {
  width: 100%;
  height: 100%;
  box-shadow: 2.4px 2.4px 7.86px 0px #00000033;
  border-radius: 0 0 6px 6px;
}

@media screen and (min-width: 768px) {
  .product__container {
    max-width: 349px;
  }
}

@media screen and (min-width: 1440px) {
  .product__container {
    max-width: 274px;
  }
}

.product__link {
  width: fit-content;
}

.product__image {
  height: 180px;
  width: inherit;
  object-fit: contain;
  object-position: center;
  border-radius: 0 0 6px 6px;
  background-color: var(--gray-soft);
}

.product__details {
  padding: 5px;
}

.product__title {
  font-size: 14px;
  text-align: left;
}

.product__rating {
  display: flex;
  justify-content: start;
  gap: 5px;
}

.product__rating-stars {
  display: flex;
  align-items: center;
}

.product__rating-stars svg {
  width: 7px;
  height: 7px;
}

.product__rating-amount {
  font-size: 9px;
  font-weight: 500;
  line-height: 2;
}

@media screen and (min-width: 768px) {
  .product__image {
    height: 380px;
  }

  .product__title {
    font-size: 22px;
  }

  .product__rating-amount {
    font-size: 14px;
  }

  .product__rating-stars svg {
    width: 13px;
    height: 13px;
  }
}

@media screen and (min-width: 1024px) {
  .product__image {
    height: 300px;
  }

  .product__title {
    font-size: 18px;
  }

  .product__rating-amount {
    font-size: 12px;
  }

  .product__rating-stars svg {
    width: 10px;
    height: 10px;
  }
}

/* -- PRODUCT CARD -- */
