/* -- REVIEWS LAYOUT -- */

.sec-reviews {
  padding: 40px 20px;
}

.reviews__container {
  display: grid;
  gap: 25px;
}

.reviews__row {
  display: grid;
  gap: 10px;
}
/* -- REVIEWS LAYOUT -- */

/* -- REVIEWS INTRODUCTION -- */

.reviews__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.reviews__subtitle-stars {
  display: flex;
}
/* -- REVIEWS INTRODUCTION -- */

/* -- CARDS -- */

.reviews__row-cards {
  gap: 21px;
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 1024px) {
  .reviews__row-cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
    margin: auto;
  }
}

.reviews__card {
  width: 100%;
  border: 0.73px solid var(--gray-soft);
  border-radius: 6px 6px 6px 6px;
  overflow: hidden;
}

.review__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 6px 6px 0 0;
}

@media screen and (min-width: 1024px) {
  .review__image {
    max-height: 306px;
  }
  .reviews__card {
    max-width: 215px;
  }
}

.review__details {
  text-align: start;
  display: grid;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.035em;
  gap: 8px;
}

.review__author-name {
  font-weight: 700;
}
.review__comment {
  font-weight: 500;
}

.review__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
}

.review__product-image {
  height: 40px;
  width: 40px;
  object-fit: contain;
  object-position: center;
}
/* -- CARDS -- */

/* -- PAGINATOR -- */

.reviews__paginator {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray-hard);
  margin-top: 2rem;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__curr-page {
  color: var(--color-dark);
}

.paginator__next {
  display: flex;
  align-items: center;
}

/* -- PAGINATOR -- */
