.social-proof {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1439px) {
  .social-proof::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      180deg,
      #000000 24.48%,
      rgba(0, 0, 0, 0) 70.73%,
      #000000 103.2%
    );
  }
}

.social-proof__content {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  gap: 10rem;
  display: grid;
  padding: 3rem 1rem;
}

.social-proof__reviews {
  display: flex;
  justify-content: center;
}

.review__persona {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.persona-pic {
  width: 65px;
  height: 65px;
  border-radius: 100px;
}

.review__container {
  max-width: 300px;
}

.review__container:nth-child(2) {
  display: none;
}

@media screen and (min-width: 700px) {
  .review__container:nth-child(2) {
    display: block;
  }
  .social-proof__content {
    gap: 5rem;
  }

  .social-proof__reviews {
    justify-content: space-evenly;
  }
}
