.sec-social-proof {
  position: relative;
}

.social-proof__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  height: auto;
}

.social-proof__description {
  display: grid;
  gap: 10px;
}

.social-proof__row {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 74px 20px;
}

.social-proof__content-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  top: 0;
  left: 0;
}

.social-proof__reviews {
  top: 275px;
  left: 0;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.social-proof__persona-pic {
  width: 65px;
  height: 65px;
  border-radius: 100px;
  object-fit: cover;
}

.social-proof__review-container:nth-child(2) {
  display: none;
}

.social-proof__review-container {
  max-width: 314px;
  display: grid;
  gap: 20px;
}

.social-proof__persona {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-proof__review-details {
  text-align: start;
}

@media screen and (min-width: 768px) {
  .social-proof__review-container:nth-child(2) {
    display: grid;
  }
  .social-proof__content {
    gap: 30px;
  }

  .social-proof__reviews {
    justify-content: space-evenly;
  }
}
