:root {
  --color-dark: #252525;
  --light-color: #ffffff;
  --green-color: #00ac4f;
  --green-color-glow: #12e072;
  --green-color-hard: #006e4f;
  --gray-light: #f6f5f5;
  --gray-soft: #e8e8e8;
  --gray-hard: rgb(150, 150, 150);
  --placeholder-color: #c2c3cc;

  --animation-floating-transform-px: 5px;
}

* {
  font-family: var(--font-family);
  margin: 0;
  font-style: normal;
}

body {
  color: var(--color-dark);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

/* DEFAULT TAGS DECORATIONS */
::placeholder {
  color: var(--placeholder-color);
}

a {
  text-decoration: none;
  color: unset;
}

input {
  border: none;
}

button {
  background-color: transparent;
  border: none;
}

/* ---- */

.light-text {
  color: var(--light-color);
}

.cta-btn {
  border-radius: 109px;
  background-color: var(--green-color);
  padding: 16px 36px;
  font-size: 18px;
  line-height: 20px;
  border: none;
  display: inline-block;
  width: 169px;
  text-align: center;
  box-sizing: border-box;
}

.btn-text-2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}

/* TYPOGRAPHY*/

.body-text-3,
.body-text-4 {
  font-size: 14px;
  line-height: 20px;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

.body-text-5 {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.section-subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.section-description {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .body-text-3 {
    font-size: 12px;
    line-height: 12px;
  }

  .body-text-4 {
    line-height: 14px;
  }

  h2 {
    font-size: 34px;
    line-height: 40px;
  }

  .body-text-5 {
    font-size: 14px;
    line-height: 15.4px;
  }

  .section-subtitle {
    font-size: 16px;
    line-height: 16px;
  }

  h4 {
    font-size: 24px;
    line-height: 28px;
  }

  .section-description {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .body-text-3 {
    font-weight: 400;
    font-size: 16px;
  }

  .body-text-4 {
    font-size: 18px;
    line-height: 30px;
  }

  h2 {
    font-size: 45px;
  }

  .body-text-5 {
    font-size: 18px;
    line-height: 18px;
  }
  .section-description {
    font-size: 20px;
    line-height: 20px;
  }
}

/* TYPOGRAPHY*/

.divider {
  width: 100%;
  border: 1px solid var(--gray-soft, #e8e8e8);
  justify-self: center;
}
