.sec-uvps {
  padding: 20px;
  background-color: var(--gray-light);
}

.uvps__container {
  display: grid;
  gap: 18.7px;
}

.uvps__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.uvps__card-icon {
  width: 76px;
  height: 76px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.uvp__card {
  position: relative;
  display: grid;
  justify-content: center;
  padding: 11.69px 0px;
  gap: 10px;
}

.uvp__card:nth-child(2n):before {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -0.8em;
}

@media screen and (min-width: 768px) {
  .sec-uvps {
    padding: 45px;
  }

  .uvps__cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }

  .uvp-icon {
    width: 88px;
    height: 88px;
  }

  /* Select all UVPs cards, except the first one of each row */
  .uvp__card:not(:nth-child(5n)):not(:first-child):before {
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.8em;
  }
}

@media screen and (min-width: 1440px) {
  .uvps__container {
    display: grid;
    gap: 30px;
  }

  .uvps__card-icon {
    width: 74px;
    height: 74px;
  }

  .uvps__cards {
    gap: 44px;
  }
}
